/* == #01.variables, defaults, typography ==*/

:root {
    /*very dark blue */
    --body-bg: hsl(217, 54%, 11%);
    /*very dark blue */
    --card-bg: hsl(216, 50%, 16%);
    /*text color*/
    --white: hsl(0, 0%, 100%);
    --p-color: hsl(215, 51%, 70%);
    /*soft blue*/
    --cyan: hsl(178, 100%, 50%);
    /* rounded cornors */
    --main-img-radius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    font-size: clamp(18px, calc(10px + 1vw), 21px);
}

body {
    background-color: var(--body-bg);
    height: 100vh;
    margin: 0 auto;
}

h1 {
    font-size: clamp(14px, 10vw, 24px);
}

p {
    font-size: clamp(12px, 10vw, 18px);
    line-height: 1.25;
}


/* == #02.Card main  == */

main {
    display: grid;
    place-content: center;
    text-align: left;
    padding: 1em;
    height: 100vh;
}

.card {
    /* to space out evenly along column axis */
    display: grid;
    row-gap: 1em;
    background-color: var(--card-bg);
    padding: 1.5em;
    border-radius: 1em;
    max-width: 375px;
}

.card-main-img {
    width: 100%;
    border-radius: var(--main-img-radius);
}

.card a {
    color: var(--white);
    text-decoration: none;
}

.card h1 {
    color: var(--white);
}

.card p {
    color: var(--p-color);
}


/* == #03.Price and days left == */

.card-cta {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid var(--p-color);
}

.card-cta img {
    padding-right: 5px;
}

.card-cta p:first-of-type {
    color: var(--cyan);
}


/* pushes clock and following text to right */

.push-right {
    margin-left: auto;
}


/* == #04. creator info == */

.card-creator {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.card-creator img {
    width: 15%;
    border: 1px solid var(--white);
    border-radius: 50%;
}


/* == #05. Active States == */

.card h1 a:hover,
.card-price p:hover,
.card-creator a:hover {
    color: var(--cyan);
    cursor: pointer;
}


/* == 5. view icon overlay */

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-container:hover::before {
    position: absolute;
    display: grid;
    place-content: center;
    content: url(images/icon-view.svg);
    background-color: hsla(178, 100%, 50%, 0.5);
    width: 100%;
    /* if 100% it overflows, why? */
    height: 99%;
    overflow: hidden;
    border-radius: var(--main-img-radius);
}